export GOPATH=~/Dev/go
export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/git/bin:/usr/local/go/bin
export PATH=/usr/local/share/npm/bin/:$PATH
export PATH=~/bin/:$PATH
export PATH=~/bin/git-cinnabar/:$PATH
export PATH=/usr/local/lib/node:/usr/local/lib/node_modules:$PATH
export NODE_PATH=/usr/local/lib/node:/usr/local/lib/node_modules
export CCACHE_COMPRESS=""

# Android SDK
export PATH=~/bin/android-sdk-macosx/sdk/platform-tools/:$PATH
export PATH=~/bin/android-sdk-macosx/sdk/tools/:$PATH
