[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = git://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/stylus"]
	path = .vim/bundle/stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bin/moz-git-tools"]
	path = bin/moz-git-tools
	url = git://github.com:mozilla/moz-git-tools.git
[submodule ".vim/bundle/go-vim"]
	path = .vim/bundle/go-vim
	url = git://github.com/fatih/vim-go.git
